{
  "extends": [
    "@antfu"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "rulesSeverityError",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "no-unused-vars": [
      "rulesSeverityError",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "no-console": "off",
    "no-debugger": "off",
    "comma-dangle": [
      "error",
      "only-multiline"
    ],
    "max-len": [
      "error",
      {
        "code": 100,
        "tabWidth": 2
      }
    ]
  },
  "globals": {
    "defineProps": "readonly",
    "defineEmits": "readonly",
    "defineExpose": "readonly",
    "withDefaults": "readonly"
  }
}