name: Test

on:
  push:
    branches:
      - main
      - master

  pull_request:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [14.x, 16.x]
        os: [ubuntu-latest]
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
  
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache
          key: cypress-cache-${{ runner.os }}-${{ hashFiles('pnpm-lock.yaml') }}
          
      - name: Install pnpm
        uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.22.2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org/
          cache: "pnpm"

      - run: pnpm install

      - name: Static Analysis
        run: pnpm lint

      - name: Build Distribution
        run: pnpm build:prod

      - name: Cypress PNPM Patch
        run: cp pnpm-lock.yaml package-lock.json
        
      - name: Cypress Component Test Runner
        run: pnpm test:ci:components

      - name: Cypress E2E Test Runner
        uses: cypress-io/github-action@v2
        with:
          install-command: echo
          build: pnpm run build
          start: npx vite --port 4000
